* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    border: 0px;
}

input, button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

input {
    border-width: 20px;
}

.containerRegister {
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.cardRegister{

    width: 35vw;
    height: 70vh;
    background-color: #cccecc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


.inputAge, .inputName, .submitRegister {
    width: 80%;
    height: 23%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.inputName {
    margin-top: 40px;
}

.inputAge, .inputName{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.submitRegister{
    background-color: rgb(116, 219, 96);
}



