.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-launch, .launch-form {
    margin: 0 60px  0 60px;
}


