* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    border: 0px;
}

input, button, a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #dfe8f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.cardCheck{

    width: 40vw;
    height: 70vh;
    background-color: #cccecc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.submitName, .inputName {
    width: 80%;
    height: 23%;
    
    border-radius: 5px;
    margin-bottom: 40px;

}

.submitName{
    background-color: rgb(116, 219, 96);
}

.age{
    padding: 80px;
}



